.slider { 
  position: relative;
  z-index: -1;
	margin-top: 4px; 
	background-color: #1A237E; 
	 
	overflow: hidden; 
	height: 400px!important;
	text-align: center;
        -webkit-box-shadow: 0px 7px 8px 0px rgba(50, 50, 50, 0.6);
        -moz-box-shadow:    0px 7px 8px 0px rgba(50, 50, 50, 0.6);
        box-shadow:         0px 7px 8px 0px rgba(50, 50, 50, 0.6);

}
    .slider li { 
    	list-style: none; 
    }
      .slider ul {
      	padding:0;
      }
          .slider ul li { 
          	float: left; 
          	height:400px!important; 
          	width: 25%!important;
          	display: block}

.slider .btn, .slider .dot {
    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  }
  
  .slider .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
  }
    .slider .dots li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 4px;
      
      text-indent: -999em;
      
      border: 2px solid #fff;
      border-radius: 6px;
      
      cursor: pointer;
      opacity: .4;
      
      -webkit-transition: background .5s, opacity .5s;
      -moz-transition: background .5s, opacity .5s;
      transition: background .5s, opacity .5s;
    }
      .slider .dots li.active {
        background: #fff;
        opacity: 1;
      }

