//Importa colores
@import url('colors');
//Importa fuentes para textos
@import url('fonts');

@import url('slider');

@import url('articles');

.divHeader{
	background: @colorHeader;
	width: 100%;
	height: 50px;
}

.stylefooter{
	background: @piePage;
	width: 100%;
	height: 7%;
	bottom: 0;
	position: fixed;
}

.navbarGreen{
	background-color: @navColor;
	margin-top: 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	a{
		font-size: 20px;
		color: @colorTitle;
	} 

	.containerBar{

	    ul{
	        padding: 0px 15px 0px 15px;//Mueve los hover y el texto
	        list-style:none;
	         
	         a:link{   
	         text-decoration:none; 
	         padding: 13px 10px 14px 15px; //Espacio de celdas

	         }
	         a:hover{
	         padding: 11px 10px 14px 15px; //Espacio del hover
			 background: #616161;
			 }

            li{
         	 padding: 13px 0px 10px 0px;

            }
            
	        li.active{
	         padding: 13px 12px 14px 0px;
		     background: #9E9E9E;
	        }

	        li:hover{
	         padding: 13px 12px 14px 0px;
			 background:#616161;
			}
        }


	}
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  &+#content{
  	padding-top: 60px;
  }
}

#content {
  padding: 16px;

}


h1{
	font-family: @fontHeader;
	color: @colorTitle;
	text-align: center;
}

h5{
	font-family: @fontHeader;
	color: @colorTitle;
	text-align: center;
}

