.slider {
  position: relative;
  z-index: -1;
  margin-top: 4px;
  background-color: #1A237E;
  overflow: hidden;
  height: 400px!important;
  text-align: center;
  -webkit-box-shadow: 0px 7px 8px 0px rgba(50, 50, 50, 0.6);
  box-shadow: 0px 7px 8px 0px rgba(50, 50, 50, 0.6);
}
.slider li {
  list-style: none;
}
.slider ul {
  padding: 0;
}
.slider ul li {
  float: left;
  height: 400px!important;
  width: 25%!important;
  display: block;
}
.slider .btn,
.slider .dot {
  -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
  -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
}
.slider .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
.slider .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
.slider .dots li.active {
  background: #fff;
  opacity: 1;
}
.arts p {
  padding-top: 100px;
}
.divHeader {
  background: #212121;
  width: 100%;
  height: 50px;
}
.stylefooter {
  background: #BDBDBD;
  width: 100%;
  height: 7%;
  bottom: 0;
  position: fixed;
}
.navbarGreen {
  background-color: #BDBDBD;
  margin-top: 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
}
.navbarGreen a {
  font-size: 20px;
  color: #FFFFFF;
}
.navbarGreen .containerBar ul {
  padding: 0px 15px 0px 15px;
  list-style: none;
}
.navbarGreen .containerBar ul a:link {
  text-decoration: none;
  padding: 13px 10px 14px 15px;
}
.navbarGreen .containerBar ul a:hover {
  padding: 11px 10px 14px 15px;
  background: #616161;
}
.navbarGreen .containerBar ul li {
  padding: 13px 0px 10px 0px;
}
.navbarGreen .containerBar ul li.active {
  padding: 13px 12px 14px 0px;
  background: #9E9E9E;
}
.navbarGreen .containerBar ul li:hover {
  padding: 13px 12px 14px 0px;
  background: #616161;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + #content {
  padding-top: 60px;
}
#content {
  padding: 16px;
}
h1 {
  font-family: 'Century Gothic';
  color: #FFFFFF;
  text-align: center;
}
h5 {
  font-family: 'Century Gothic';
  color: #FFFFFF;
  text-align: center;
}
