

@media screen and (max-width: 980px) and (min-width: 821px){
	
    .contenedor{
    	width: 100%;
    	height: 100%;
    }

    .contenedor input[type="color"]{
		    padding: 0;
		    border: none;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    opacity: 0.2;
		    filter: alpha(opacity=50);
	}
    

	.imagen{
	width: 100%;
	height: 100%;
    z-index: -1;
    }
    
}

@media screen and (max-width: 820px) and (min-width: 621px){
	.contenedor{
    	width: 100%;
    	height: 100%;
    }

    .contenedor input[type="color"]{
		    padding: 0;
		    border: none;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    opacity: 0.2;
		    filter: alpha(opacity=50);
	}
    

	.imagen{
	width: 100%;
	height: 100%;
    z-index: -1;
    }
    
}

@media screen and (max-width: 1440px) and (min-width: 900px){
	.contenedor{
    	width: 100%;
    	height: 100%;
    }

    .contenedor input[type="color"]{
		    padding: 0;
		    border: none;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    opacity: 0.2;
		    filter: alpha(opacity=50);
	}
    

	.imagen{
	width: 100%;
	height: 100%;
	
    z-index: -1;
    }
    
}

@media screen and (max-width: 620px) and (min-width: 501px){
	.contenedor{
    	width: 100%;
    	height: 100%;
    }

    .contenedor input[type="color"]{
		    padding: 0;
		    border: none;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    opacity: 0.2;
		    filter: alpha(opacity=50);
	}
    

	.imagen{
	width: 100%;
	height: 100%;
	
    z-index: -1;
    }
    
}

@media screen and (max-width: 106px) and (min-width: 509px){
	.contenedor{
    	width: 100%;
    	height: 100%;
    }

    .contenedor input[type="color"] {
		    padding: 0;
		    border: none;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    opacity: 0.2;
		    filter: alpha(opacity=50);
	}
    

	.imagen{
	width: 100%;
	height: 100%;
    z-index: -1;
    }
}

@media screen and (max-width: 545px) and (min-width: 154px){
	.contenedor{
    	width: 100%;
    	height: 100%;
    }

    .contenedor input[type="color"] {
		    padding: 0;
		    border: none;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    opacity: 0.2;
		    filter: alpha(opacity=50);
	}
    

	.imagen{
	width: 100%;
	height: 100%;
    z-index: -1;
    }
}

