

.principal{
	background: #CFD8DC;
	width: 500px;
	height: 500px;
}

.row1{
	background: #CFD8DC;
	width: 500px;
	height: 250px;
}

.row2{
	background: #CFD8DC;
	width: 500px;
	height: 250px;
}

.divCarte1{
	float: left;
	background: #C8E6C9;
	box-shadow:  0px 10px 8px #888888;
	width: 100px;
	height: 160px;
	position: relative;
	margin-top: 10px;
	margin-left: 50px;
	transition: .5s;
	overflow: hidden;
}

.divCarte2{
	float: right;
	background: #C8E6C9;
	box-shadow:  0px 10px 8px #888888;
	width: 100px;
	height: 160px;
	position: relative;
	margin-top: 10px;
	margin-right: 50px;
	transition: .5s;
	overflow: hidden;
}

.divCarte3{
	float: left;
	background: #C8E6C9;
	box-shadow:  0px 10px 8px #888888;
	width: 100px;
	height: 160px;
	position: relative;
	margin-top: 10px;
	margin-left: 50px;
	transition: .5s;
	overflow: hidden;
}

.divCarte4{
	float: right;
	background: #C8E6C9;
	box-shadow:  0px 10px 8px #888888;
	width: 100px;
	height: 160px;
	position: relative;
	margin-top: 10px;
	margin-left: 50px;
	transition: .5s;
	overflow: hidden;
}

.girado{
	margin-top: 5%;
	margin-left: 15%;
	background: #C8E6C9;
	width: 70%;
	height: 70%;
	position: relative;
	transition: 2s;
	overflow: hidden;
	box-sizing: border-box;
}

.img{
    height: 70%;
    width: 70%;
	float: right;
	margin-top: 60px;
	margin-left: 60px;
	margin-right: 15px;
}


input:checked + label .divCarte1{
		transform:rotateY(180deg);
		.face{
			display: none;
		}

}

input:checked + label .divCarte2{
		transform:rotateY(180deg);
		.face{
			display: none;
		}

}

input:checked + label .divCarte3{
		transform:rotateY(180deg);
		.face{
			display: none;
		}

}

input:checked + label .divCarte4{
		transform:rotateY(180deg);
		.face{
			display: none;
		}

}


