h1{
	color: #2196F3;
}

.contenedor{
	width: 180px;
	height: 200px;
	background: #FAFAFA;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.display{
	margin-top: 50px;
	width: 70px;
	height: 120px;
	float: right;
	display: block;
}

.displayMin{
	margin-top: 50px;
	width: 70px;
	height: 120px;
	float: left;
	display: block;
	
}

@keyframes mymove1{
   from { background-color:#D50000;}
            10% { background-color: #ffffff; }
            20% { background-color: #D50000; }
            30% { background-color: #D50000; }
            40% { background-color: #ffffff; }
            50% { background-color: #D50000; }
            60% { background-color: #D50000; }
            70% { background-color: #D50000; }
            80% { background-color: #D50000; }
            90% { background-color: #D50000; }
            to { background-color: #D50000; }
}

@keyframes mymove2{
   from { background-color:#D50000;}
            10% { background-color: #ffffff; }
            20% { background-color: #ffffff; }
            30% { background-color: #ffffff; }
            40% { background-color: #D50000; }
            50% { background-color: #D50000; }
            60% { background-color: #D50000; }
            70% { background-color: #ffffff; }
            80% { background-color: #D50000; }
            90% { background-color: #D50000; }
            to { background-color: #D50000; }
}

@keyframes mymove3{
   from { background-color:#D50000;}
            10% { background-color: #D50000; }
            20% { background-color: #D50000; }
            30% { background-color: #D50000; }
            40% { background-color: #D50000; }
            50% { background-color: #ffffff; }
            60% { background-color: #ffffff; }
            70% { background-color: #D50000; }
            80% { background-color: #D50000; }
            90% { background-color: #D50000; }
            to { background-color: #D50000; }
}

@keyframes mymove4{
   from { background-color:#ffffff;}
            10% { background-color: #ffffff; }
            20% { background-color: #D50000; }
            30% { background-color: #D50000; }
            40% { background-color: #D50000; }
            50% { background-color: #D50000; }
            60% { background-color: #D50000; }
            70% { background-color: #ffffff; }
            80% { background-color: #D50000; }
            90% { background-color: #D50000; }
            to { background-color: #ffffff; }
}

@keyframes mymove5{
   from { background-color:#D50000;}
            10% { background-color: #ffffff; }
            20% { background-color: #D50000; }
            30% { background-color: #ffffff; }
            40% { background-color: #ffffff; }
            50% { background-color: #ffffff; }
            60% { background-color: #D50000; }
            70% { background-color: #ffffff; }
            80% { background-color: #D50000; }
            90% { background-color: #ffffff; }
            to { background-color: #D50000; }
}

@keyframes mymove6{
   from { background-color:#D50000;}
            10% { background-color: #D50000; }
            20% { background-color: #ffffff; }
            30% { background-color: #D50000; }
            40% { background-color: #D50000; }
            50% { background-color: #D50000; }
            60% { background-color: #D50000; }
            70% { background-color: #D50000; }
            80% { background-color: #D50000; }
            90% { background-color: #D50000; }
            to { background-color: #D50000; }
}

@keyframes mymove7{
   from { background-color:#D50000;}
            10% { background-color: #ffffff; }
            20% { background-color: #D50000; }
            30% { background-color: #D50000; }
            40% { background-color: #ffffff; }
            50% { background-color: #D50000; }
            60% { background-color: #D50000; }
            70% { background-color: #ffffff; }
            80% { background-color: #D50000; }
            90% { background-color: #D50000; }
            to { background-color: #D50000; }
}





@keyframes mymove11{
   from { background-color:#ffffff;}
            10% { background-color: #ffffff; }
            20% { background-color: #D50000; }
            30% { background-color: #D50000; }
            40% { background-color: #ffffff; }
            50% { background-color: #D50000; }
            60% { background-color: #D50000; }
            70% { background-color: #D50000; }
            80% { background-color: #D50000; }
            90% { background-color: #D50000; }
            to { background-color: #ffffff; }
}

@keyframes mymove12{
   from { background-color:#ffffff;}
            10% { background-color: #ffffff; }
            20% { background-color: #ffffff; }
            30% { background-color: #ffffff; }
            40% { background-color: #D50000; }
            50% { background-color: #D50000; }
            60% { background-color: #D50000; }
            70% { background-color: #ffffff; }
            80% { background-color: #D50000; }
            90% { background-color: #D50000; }
            to { background-color: #ffffff; }
}

@keyframes mymove13{
   from { background-color:#ffffff;}
            10% { background-color: #D50000; }
            20% { background-color: #D50000; }
            30% { background-color: #D50000; }
            40% { background-color: #D50000; }
            50% { background-color: #ffffff; }
            60% { background-color: #ffffff; }
            70% { background-color: #D50000; }
            80% { background-color: #D50000; }
            90% { background-color: #D50000; }
            to { background-color: #D50000; }
}

@keyframes mymove14{
   from { background-color:#ffffff;}
            10% { background-color: #ffffff; }
            20% { background-color: #D50000; }
            30% { background-color: #D50000; }
            40% { background-color: #D50000; }
            50% { background-color: #D50000; }
            60% { background-color: #D50000; }
            70% { background-color: #ffffff; }
            80% { background-color: #D50000; }
            90% { background-color: #D50000; }
            to { background-color: #ffffff; }
}

@keyframes mymove15{
   from { background-color:#ffffff;}
            10% { background-color: #ffffff; }
            20% { background-color: #D50000; }
            30% { background-color: #ffffff; }
            40% { background-color: #ffffff; }
            50% { background-color: #ffffff; }
            60% { background-color: #D50000; }
            70% { background-color: #ffffff; }
            80% { background-color: #D50000; }
            90% { background-color: #ffffff; }
            to { background-color: #ffffff; }
}

@keyframes mymove16{
   from { background-color:#ffffff;}
            10% { background-color: #D50000; }
            20% { background-color: #ffffff; }
            30% { background-color: #D50000; }
            40% { background-color: #D50000; }
            50% { background-color: #D50000; }
            60% { background-color: #D50000; }
            70% { background-color: #D50000; }
            80% { background-color: #D50000; }
            90% { background-color: #D50000; }
            to { background-color: #D50000; }
}

@keyframes mymove17{
   from { background-color:#ffffff;}
            10% { background-color: #ffffff; }
            20% { background-color: #D50000; }
            30% { background-color: #D50000; }
            40% { background-color: #ffffff; }
            50% { background-color: #D50000; }
            60% { background-color: #D50000; }
            70% { background-color: #ffffff; }
            80% { background-color: #D50000; }
            90% { background-color: #D50000; }
            to { background-color: #ffffff; }
}




.led1{
	width: 30px;
	height: 5px;
	margin-left: auto;
	margin-right: auto;
	/*cambios de color y tiempos*/
	-webkit-animation: mymove1 infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation: mymove1 infinite;
    animation-duration: 10s;
    animation-timing-function: steps(1);
}

.led2{
	width: 5px;
	height: 30px;
	margin-top: 10px;
	float: left;
	/*time et color*/
	-webkit-animation: mymove2 infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation: mymove2 infinite;
    animation-duration: 10s;
    animation-timing-function: steps(1);
}

.led3{
	width: 5px;
	height: 30px;
	margin-top: 10px;
	float: right;
	/*time et color*/
	-webkit-animation: mymove3 infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation: mymove3 infinite;
    animation-duration: 10s;
    animation-timing-function: steps(1);
}

.led4{
	margin-top: 70%;
	width: 30px;
	height: 5px;
	margin-left: auto;
	margin-right: auto;
	/*time et color*/
	-webkit-animation: mymove4 infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation: mymove4 infinite;
    animation-duration: 10s;
	animation-timing-function: steps(1);
}

.led5{
	width: 5px;
	height: 30px;
	margin-top: 15px;
	float: left;
	/*time et color*/
	-webkit-animation: mymove5 infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation: mymove5 infinite;
    animation-duration: 10s;
    animation-timing-function: steps(1);
	
}

.led6{
	width: 5px;
	height: 30px;
	margin-top: 15px;
	float: right;
	/*time et color*/
	-webkit-animation: mymove6 infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation: mymove6 infinite;
    animation-duration: 10s;
    animation-timing-function: steps(1);
}

.led7{
	margin-top: 70%;
	width: 30px;
	height: 5px;
	margin-left: auto;
	margin-right: auto;
    /*time et color*/
	-webkit-animation: mymove7 infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation: mymove7 infinite;
    animation-duration: 10s;
    animation-timing-function: steps(1);
}



.f1{
	width: 30px;
	height: 5px;
	margin-left: auto;
	margin-right: auto;
    -webkit-animation:mymove11 infinite;
    animation:mymove11 infinite;
    -webkit-animation-duration:100s;
    animation-duration:100s;
    animation-timing-function: steps(1);
	
}

.f2{
	width: 5px;
	height: 30px;
	margin-top: 10px;
	float: left;
	/*time et color*/
	-webkit-animation:mymove12 infinite;
	animation:mymove12 infinite;
	-webkit-animation-duration:100s;
	animation-duration:100s;
	animation-timing-function: steps(1);
}

.f3{
	width: 5px;
	height: 30px;
	margin-top: 10px;
	float: right;
	/*time et color*/
	-webkit-animation:mymove13 infinite;
	animation:mymove13 infinite;
	-webkit-animation-duration:100s;
	animation-duration:100s;
	animation-timing-function: steps(1);
}

.f4{
	margin-top: 70%;
	width: 30px;
	height: 5px;
	margin-left: auto;
	margin-right: auto;
	/*time et color*/
	-webkit-animation:mymove14 infinite;
	animation:mymove14 infinite;
	-webkit-animation-duration:100s;
	animation-duration:100s;
	animation-timing-function: steps(1);
}

.f5{
	width: 5px;
	height: 30px;
	margin-top: 15px;
	float: left;
	/*time et color*/
	-webkit-animation:mymove15 infinite;
	animation:mymove15 infinite;
	-webkit-animation-duration:100s;
	animation-duration:100s;
	animation-timing-function: steps(1);
}

.f6{
	width: 5px;
	height: 30px;
	margin-top: 15px;
	float: right;
	/*time et color*/
	-webkit-animation:mymove16 infinite;
	animation:mymove16 infinite;
	-webkit-animation-duration:100s;
	animation-duration:100s;
	animation-timing-function: steps(1);
}

.f7{
	margin-top: 70%;
	width: 30px;
	height: 5px;
	margin-left: auto;
	margin-right: auto;
    /*time et color*/
	-webkit-animation:mymove17 infinite;
	animation:mymove17 infinite;
	-webkit-animation-duration:100s;
	animation-duration:100s;
    animation-timing-function: steps(1);
	}

