.principal {
  background: #CFD8DC;
  width: 500px;
  height: 500px;
}
.row1 {
  background: #CFD8DC;
  width: 500px;
  height: 250px;
}
.row2 {
  background: #CFD8DC;
  width: 500px;
  height: 250px;
}
.divCarte1 {
  float: left;
  background: #C8E6C9;
  -webkit-box-shadow: 0px 10px 8px #888888;
          box-shadow: 0px 10px 8px #888888;
  width: 100px;
  height: 160px;
  position: relative;
  margin-top: 10px;
  margin-left: 50px;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}
.divCarte2 {
  float: right;
  background: #C8E6C9;
  -webkit-box-shadow: 0px 10px 8px #888888;
          box-shadow: 0px 10px 8px #888888;
  width: 100px;
  height: 160px;
  position: relative;
  margin-top: 10px;
  margin-right: 50px;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}
.divCarte3 {
  float: left;
  background: #C8E6C9;
  -webkit-box-shadow: 0px 10px 8px #888888;
          box-shadow: 0px 10px 8px #888888;
  width: 100px;
  height: 160px;
  position: relative;
  margin-top: 10px;
  margin-left: 50px;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}
.divCarte4 {
  float: right;
  background: #C8E6C9;
  -webkit-box-shadow: 0px 10px 8px #888888;
          box-shadow: 0px 10px 8px #888888;
  width: 100px;
  height: 160px;
  position: relative;
  margin-top: 10px;
  margin-left: 50px;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}
.girado {
  margin-top: 5%;
  margin-left: 15%;
  background: #C8E6C9;
  width: 70%;
  height: 70%;
  position: relative;
  -webkit-transition: 2s;
  transition: 2s;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.img {
  height: 70%;
  width: 70%;
  float: right;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 15px;
}
input:checked + label .divCarte1 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
input:checked + label .divCarte1 .face {
  display: none;
}
input:checked + label .divCarte2 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
input:checked + label .divCarte2 .face {
  display: none;
}
input:checked + label .divCarte3 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
input:checked + label .divCarte3 .face {
  display: none;
}
input:checked + label .divCarte4 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
input:checked + label .divCarte4 .face {
  display: none;
}
